{% extends 'base.html' %}

{% block title %}OpenID Please - about{% endblock %}

{% block content %}


<h1>Hello!</h1>
<p>This website allows you to give a micro donation to any webpage if you find it interesting, useful or fun.</p>


<h3>About Us</h3>
<p>Diddy Donation was created by <a href="http://www.tomfotherby.com/">Tom Fotherby</a> at <a href="http://www.bitvolution.com/">Bitvolution</a>.

<h3>Our Source Code</h3>
<a href="http://code.google.com/appengine"><img style="float:right;border:none;" src="http://code.google.com/appengine/images/appengine-silver-120x30.gif"
alt="Powered by Google App Engine"/></a>
<p>The source will be released. Check back here for updates.
</p>



{% endblock %}
