{% extends 'base.html' %}

{% block title %}Diddydonation - About{% endblock %}

{% block content %}


<h1>Hello!</h1>
<p>This website allows you to give a micro donation to any webpage that you find interesting, useful or fun.</p>


<h3>About Us</h3>
<p>Diddy Donation was created by <a href="http://www.tomfotherby.com/">Tom Fotherby</a> at <a href="http://www.bitvolution.com/">Bitvolution</a>.

<h3>Our Source Code</h3>
<a href="http://code.google.com/appengine"><img style="float:right;border:none;" src="http://code.google.com/appengine/images/appengine-silver-120x30.gif"
alt="Powered by Google App Engine"/></a>
<p>The source code can be found at <a href="http://github.com/tomfotherby/Diddydonation">github</a>.
</p>

<h3>Attribution</h3>

We'd like to thank:

 <ul>
 <li><em>Famfamfam</em>, for their <a href="http://www.famfamfam.com/lab/icons/silk/">Silk icon set</a>.</li>
 <li>Pixelmixer for their <a href="http://pixel-mixer.com">free icons</a>.</li>
 <li><a href="http://sexybuttons.googlecode.com">Sexybuttons</a>, for their CSS code</li>
 <li><a href="http://demand.openid.net/about">Demand.Openid</a>, for their <a href="http://code.google.com/p/demand/">App Engine sourcecode</a></li>
 </ul>



{% endblock %}
