<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/screen.css" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/diddydonation.js"></script>
    <link rel="shortcut icon" href="/static/favicon.ico">
  </head>

  <body>

    <div id="wrap">

    <div id="header">
        <div id="lip" style="font-size:smaller;">
            {% if lip %}
            <a href="/home">bookmarklet</a>
            <a href="/profile">profile</a>
            <a href="{{ logout_url }}">logout</a>
            {% else %}
            <a href="{{ login_url }}">login</a>
            {% endif %}
        </div>

        <a href="/"><img id="logo" src="/static/images/logo.jpg"  /></a>

        <div id="moto">
            <h1 style="margin-bottom:0;"><a href="/" style="text-decoration:none;">Diddy Donation</a></h1>
            <p>
            Online Micro Donation service
            </p>
        </div>

        <div style="clear:both;"></div>
    </div>

    <div id="content">

      {% if error_msg %}
        <div id="error">{{ error_msg }}</div>
      {% endif %}

      {% block content %}{% endblock %}
    </div>

    <div id="footer" class="subtle smaller">
        <a href="/faq">FAQ</a>
        <a href="/about">About</a>
    </div>

    </div>

  </body>

</html>
