{% extends 'base.html' %}

{% block title %}Diddydonation - Bookmarklet installation{% endblock %}

{% block content %}

<div id="intro">
<h3 class="good">Welcome, {{lip.google_user.nickname}}</h3>
</div>

<h1 class="pagetitle"><img src="/static/images/icons/bookmark_48.png" />How to use this website</h1>


<h3>1) Install the bookmarklet</h3>
<p>
Drag the following bookmarklet to your bookmarks toolbar: <a href="{{bookmarklet}}" title="Diddy Donate" alt="Diddy Donate" style="text-decoration:underline;"><img src="/static/images/bookmarklet.gif" alt="Diddydonate" /></a>
</p>
<p class="infoBox">
Using the bookmarklet means you won't need to login to donate.
</p>

<h3>2) Use the bookmarklet to pledge 1p to any webpage</h3>
<p>
When you visit a website that has something interesting, useful or fun and wish to show your appreciation, click the <img src="/static/images/bookmarklet.gif" /> bookmarklet in your toolbar to pledge a 1p tip.
</p>

<h3>3) Check back often</h3>
<p>
To see if any of your pledges have received enough other pledges to warrent you getting out your wallet (or purse).
</p>

{% endblock %}
