{% extends 'base.html' %}

{% block title %}Diddydonation - Checkout{% endblock %}

{% block content %}


<h1 class="pagetitle"><img src="/static/images/icons/buy_48.png" />Checkout</h1>

{% if outtext|length %}
    <h3>Your Campaigns</h3>
    {{ outtext }}
{% endif %}

{% if ko_donations|length %}
  {% for d in ko_donations %}
    <div class="campaignCheckout">
        <span class="amount">{{ d.count }}p</span>
        {{ d.campaign.link|urlizetrunc:60 }}
        <div style="padding: 2px 0 0 25px;">
        <span class="showClosed">Checkout closed</span> - we need to confirm the beneficiary
        </div>
    </div>
  {% endfor %}
{% endif %}


{% endblock %}
