{% extends 'base.html' %}

{% block title %}Diddydonation - Frequently Asked Questions{% endblock %}

{% block content %}


<h1>FAQ</h1>


<h3>What is this site?</h3>
<p>
Diddydonation.com is specifically for really small donations (<em>one penny</em>, <img src="static/images/icons/onepenny.png" />) that you give to a webpage if you find it interesting, useful or fun.
</p>


<h3>What is the point of such a small donation?</h3>
<p>
<ul>
<li>We believe it's more likely for 1000 people to donate 1p than it is for 1 person to donate 10 pounds, if the donation system is good enough.</li>
<li>It's a great way to show your support for a website - Put your money where your mouth is!</li>
<li>It's not just about the money - If a author has recieved 500 1p pledges they will be encourgaged to continue what they are doing. Vote of confidence and all that.</li>
<li>Life is a marathon, not a sprint. Websites can benefit from a tiny trickle of small donations because they all add up.</li>
<li>A 1p donation is such a small commitment that you don't need to justify it to yourself - just do it!</li>
</ul>
</p>


<h3>Why should I use diddydonation.com?</h3>
<p>
<ul>
<li>Free service - no fees. We don't take a slice of the pie. We don't make a profit, not even 1p.</li>
<li>No commitment - You're never committed to pay, unless you want to. Donations are <abbr title="I Owe You (a.k.a. a pledge)">IOUs</abbr> rather than confirmed, i.e you can pledge a whole bunch of donations throughout the year then, if the time is right, you can put your money where your mouth is.</li>
<!--
<li>We are open and transparent. e.g. see our sourcecode here, and see our balance sheets here</li>
-->
<li>You can pledge to any webpage, you don't have to wait for the webpage to set up a donations box. <em>Note: until they have given details on how to get funds to their bank, your dontations can only be <abbr title="I Owe You (a.k.a. a pledge)">IOUs</abbr></em>.</li>
</ul>
</p>


<h3><a name="amounttoolow"></a>What does it mean when it says "<em>amount too low</em>" at the Checkout</h3>
<p>
In order to make a real monetary donation to a webpage we need the total donation amount by everyone that used Diddydonation.com to reach a non-loss sum.
The current non-loss sum is &pound;10 which is the amount we deem worth the effort of making the transaction and where bank/paypal fees doesn't have too large a impact.
Until this sum has been reached by the community, the checkout will say "<em>amount too low</em>".
</p>


<h3>How do I give a larger donation?</h3>
<p>
There are plenty of other donations websites that accept normal donations:
<ul>
<li><a href="http://pledgie.com/">Pledgie</a> - <a href="http://pledgie.com/site/faq">Free</a></li>
<li><a href="http://blog.chipin.com/">Chipin</a> - <a href="http://chipin.helpserve.com/index.php?_m=knowledgebase&_a=viewarticle&kbarticleid=106">Free</a></li>
<li><a href="http://www.justgiving.com/">Justgiving</a> - approx 5% fee? <a href="http://www.justgiving.com/info/fees/">info</a></li>
<li><a href="http://www.everyclick.com/">Everyclick</a> - approx 5% fee? <a href="http://www.everyclick.com/about-everyclick/fees">info</a></li>
<li><a href="http://twitpay.me/">Twitpay</a>- approx 5 cents? <a href="https://twitpay.me/p/faq">info</a></li>
</ul>
</p>

{% endblock %}
