{% extends 'base.html' %}

{% block title %}Diddydonation - Admin Section{% endblock %}

{% block content %}

<a href="/admin/setbeneficiaries">Set Beneficiaries</a>

<h1>Manage Beneficiaries</h1>

<p style="font-size:small">
This is a admin page which can be used to create donation beneficiaries. Currently (Jan/10) I'm not sure what form a beneficiary will be, perhaps a Paypal email? or a Plegie campaign?
Best would be if people would use BACS to add money to the Diddydonation back account and then Diddydonation could aggregate donations to the beneficiary.
</p>


<h3>Create new Beneficiary:</h3>

<form action="/admin/createbeneficiary" method="post">
  google_user: <input type="text" name="google_user" style="width:200px" value="" /><br />
  paypal_email: <input type="text" name="paypal_email" style="width:200px" value="" /><br />
  pledgie_id: <input type="text" name="pledgie_id" style="width:50px" value="" /><br />
  pledgie_name: <input type="text" name="pledgie_name" style="width:200px" value="" /><br />
  <button class="sexybutton" type="submit" ><span><span><span class="useradd">Create New Beneficiary</span></span></span></button>
</form>

<hr>

<h2>Beneficiaries</h2>

{% if beneficiaries|length %}
<table>
    <tr>
        <th>google_user</th><th>paypal_email</th><th>pledgie_id</th><th>pledgie_name</th><th>Actions</th>
    </tr>
  {% for b in beneficiaries %}
    <tr>
        <td>{{ b.google_user}}</td><td>{{ b.paypal_email}}</td><td>{{ b.pledgie_id}}</td><td>{{ b.pledgie_name }}</td><td><a href="/admin/editbeneficiary?key={{ b.key}}">edit</a>, <a href="/admin/deletebeneficiary?key={{ b.key}}">delete</a></td>
    </tr>
  {% endfor %}
</table>
{% else %}
No beneficiaries.

<h3>Create test Beneficiary:</h3>
<form action="/admin/createbeneficiary" method="post">
  google_user: <input type="text" name="google_user" style="width:200px" value="test@example.com" /><br />
  paypal_email: <input type="text" name="paypal_email" style="width:200px" value="test@example.com" /><br />
  pledgie_id: <input type="text" name="pledgie_id" style="width:50px" value="8316" /><br />
  pledgie_name: <input type="text" name="pledgie_name" style="width:200px" value="DiddyDonation.com" /><br />
  <button class="sexybutton" type="submit" ><span><span><span class="useradd">Create Test Beneficiary</span></span></span></button>
</form>

{% endif %}

{% endblock %}
