{% extends 'base.html' %}

{% block title %}Diddydonation - Profile Page{% endblock %}

{% block content %}

<h1 class="pagetitle"><img src="/static/images/icons/user_48.png" />{{ lip.google_user.nickname }}</h1>


{% if undonelink %}
<div class="infoBox flash" style="margin-top:10px">
Your pledges were reduced by <span class='amount'>1p</span> for {{ undonelink|urlizetrunc:45 }}
</div>
{% endif %}
{% if donatedlink %}
<div class="infoBox success flash" style="margin-top:10px">
You sucessfully pledged <span class='amount'>1p</span> to {{ donatedlink|urlizetrunc:45 }}
</div>
{% endif %}
{% if deletedlink %}
<div class="infoBox flash" style="margin-top:10px">
All donations deleted for {{ deletedlink|urlizetrunc:45 }}
</div>
{% endif %}



<p>
<div>You have pledged a total of <strong>{{pledged}}p</strong>.</div>

{% ifnotequal pledged 0 %}
<a href="/checkout" title="Go to Checkout" class="sexybutton"><span><span><span class="checkout">Checkout</span></span></span></a>
{% endifnotequal %}

<h3 style="margin-top:50px">Your pledges:</h3>

{% if donations|length %}

<div class="column" style="margin-right:30px;">
  {% for d in donations %}
    <div style="padding: 4px 0 10px 0;">
        <span class="amount">{{ d.count }}p</span>
        <!--
        <a href="/donate?link={{ d.campaign.link }}" title="Pledge another 1p" ><img src="static/icons/coins_add.png" /></a>
        <a href="/delete?link={{ d.campaign.link}}" title="Remove" onclick="return confirm('Delete all pledges to this webpage?');"><img src="static/icons/coins_delete.png" /></a>
        -->
        {{ d.campaign.link|urlizetrunc:60 }}
        <div style="padding: 2px 0 0 25px;">
        <a href="/donate?link={{ d.campaign.link }}" title="Pledge another 1p" class="sexybutton"><span><span><span class="addonep">Pledge again</span></span></span></a>
        {% ifnotequal d.count 1 %}
            <a href="/undo?link={{ d.campaign.link }}" title="Remove 1p from Pledge" class="sexybutton"><span><span><span class="subtractonep">Undo</span></span></span></a>
        {% endifnotequal %}
        <a href="/delete?link={{ d.campaign.link}}" title="Delete pledges" class="sexybutton" onclick="return confirm('Delete all pledges to this webpage?');"><span><span><span class="delete">Delete</span></span></span></a>
        </div>
    </div>
  {% endfor %}
</div>

<div style="clear:both;"></div>

{% else %}
No donations yet. <a href="/bookmarklet">See how to use this site</a>.
{% endif %}


{% endblock %}
