{% extends 'base.html' %}

{% block title %}Diddydonation - Set Beneficiaries{% endblock %}

{% block content %}

<a href="/admin/managebeneficiaries">Manage Beneficiaries</a>

<h1>Set Beneficiaries</h1>

<p style="font-size:small">
This is a admin page which can be used to assign a "Campaign" to a "DiddyBeneficiary". This is the first step needed in order for a user to be able to checkout and actually pay a webpage.
</p>

<h2>Campaigns where the beneficiary needs clarifying</h2>

{% if ko_campaigns|length %}
<div style="margin:5px 30px 0 0;">
  {% for c in ko_campaigns %}
    <div style="padding: 4px 0 10px 0;">
        <span class="amount">{{ c.count }}p</span>
        {{ c.link|urlizetrunc:60 }}
        <div style="padding: 2px 0 0 25px;">
        <form action="/admin/setbeneficiary" method="get">
          <input type="hidden" name="link" value="{{c.link}}" />
          pledgie_id: <input type="text" name="pledgie_id" style="width:200px" value="" />
          <button class="sexybutton" type="submit" ><span><span><span class="useradd">Set</span></span></span></button>
        </form>
        <!--
        <a href="/admin/setbeneficiary?link={{ c.link }}" title="Suggest a beneficiary" class="sexybutton"><span><span><span class="useradd">Suggest beneficiary details</span></span></span></a>
        -->
        </div>
    </div>
  {% endfor %}
</div>
{% else %}
<div class="infoBox success">
Nothing to do (<em>i.e. There are no campaigns that do not have beneficiaries</em>)
</div>
{% endif %}

{% endblock %}
